{
    "root": true,
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "extends": ["akari", "akari/typescript"],
    "rules": {
        "@typescript-eslint/prefer-string-starts-ends-with": "off"
    }
}
